/*This gets the banner image right up under the navbar; better to change the navbar margin?*/
.banner {
	margin-top: -20px;
}
.banner img {
	max-height: 500px;
	width: 100%;
}

/* Projects page specific */

h2 {
  border-bottom: 3px solid #333;
}

.preview {
  display: block;
}

.preview img {
  width: 100%;
  border-radius: 10px;
}

.preview p {
  line-height: 1;
}

.caption {
  text-align: left;
  font-size: 1.2em;
}

.break {
  min-height: 15px;
}