/*This gets the banner image right up under the navbar; better to change the navbar margin?*/
.banner {
	margin-top: -20px;
}
.banner img {
	max-height: 500px;
	width: 100%;
}

/* Test page specific */

h2 {
  border-bottom: 3px solid #333;
}

.beerwall img {
	height: 300px;
}

